@media screen and (max-width: 1920px) {

    .gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .item {
        border: 2px solid beige;
    }

    .item1 {
        flex-basis: 18%;
    }

    .item2 {
        flex-basis: 18%;
    }

    .gallery img {
        width: 110%;
        height: auto;
    }
}

@media screen and (max-width: 1280 px) {
    .gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .item {
        border: 2px solid beige;
    }

    .item1 {
        flex-basis: 24%;
    }

    .item2 {
        flex-basis: 24%;
    }

    .item3 {
        flex-basis: 49%;
    }
}